.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    background-color: var(--accent);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.logoText {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--for-dark-bg-color);
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    color: #ffffff;
}

.ul {
    display: flex;
    font-size: 1.5rem;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--accent);
}

.themeToggle {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.themeBtn {
    background: transparent;
    border: none;
    color: var(--for-dark-bg-color);
    cursor: pointer;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;
}

.themeBtn:hover {
    transform: rotate(40deg);
}

.link {
    position: relative;
    text-decoration: none;
    color: var(--for-dark-bg-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.link:hover {
    color: #e4e4e4;
}

.link:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .ul {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #3D241F;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 1rem 2rem;
        gap: 1rem;
        display: none;
    }

    .open {
        display: flex;
    }
}
